<!-- content -->
<div id="content" class="app-content box-shadow-z0" role="main">
    <%- include('./navbar_footer'); %>
        <div ui-view class="app-body" id="view">

            <!-- ############ PAGE START-->
            <div class="padding">
                <%- include('./screen_DB_5'); %>
                <%- include('./screen_DB_4'); %>
                <%- //include('./screen_DB_3'); %>
                <%- include('./screen_DB_1'); %>
                <%- include('./screen_DB_2'); %>
            </div>
            <!-- ############ PAGE END-->
        </div>
</div>

<!-- / -->